.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(99, 92, 92, 0.1);
}
.navbar-container p{
    color: #0C1844;
    font-size: 25px;
    margin-left: 20px;

}
.navbar-container .nav-item-container{
    color: #0C1844;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-container .nav-item-container .nav-item{
    text-decoration: none;
    padding: 0 20px;
}
.nav-item:link{
    color: #0C1844;
}
.icon-container .register-btn{
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #C80036;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
